#Pdf
Programming Principles and Practice Using C++ (2nd Edition, bookmarks) by Bjarne Stroustrup (z-lib.org).pdf
Programmazione_uno (1).pdf
prove_programmazione/inizializzo_prima_riga_di_una_matrice.pdf
prenotazione_esame.pdf
primi_passi.pdf

#Docx
Programmazione_uno.docx

#Directory
catena/
portfolio_courses/
programming_stroustrup/
raccolta_materiale_didattico/

#Png
pathdia_v2_rel.png

#Cpp
prove_programmazione/23_feb_23_NON_CAPITO.cpp
prove_programmazione/funzione_esegui_turno.cpp
prove_programmazione/input_type.cpp

#ignora la cartella pc_esempi_codice 
pc_esempi_codice/

#ignora il file gitignore
.gitignore

#nascondi cartella .vscode e la cartella esempi_random
.vscode/ 
esempi_random/
